body {
    background-image: url(https://jooinn.com/images/background-1.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #777777;
    margin: 0 auto;
    
    
}

.Navigation {
    background-color: white;
    width: 960px;
    position: fixed;
    width: 100%;
    margin: 0 auto;


}

.container {
    width: 960px;
    background: white;
    margin: 0 auto;
}


.Name {
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    padding: 5px;
    float: left;
}

nav {
    color: #777777;
    font-size: 18px;
    float: right;
    margin-top: 40px;
}

#image {
    float: left;
    margin: 10px;
    
}

.footer {
    
    background: rgb(169, 169, 169);
    padding: 20px;
    text-align: center;
    color: darkslategray
}

html, body {
    height: 60%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

#Name,
#id,
#Email,
#Message {
    width: 960px;
}

#Message {
    height: 250px;
}

.text-1 {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 250px;
    bottom: 80px;
}

.text-2 {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 250px;
    bottom: 80px;
}

.picture3 {
    position: relative;
    left: 350px;
    bottom: 625px;
}

.text-3 {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 250px;
    bottom: 80px;
}

.picture4 {
    position: relative;
    left: 350px;
    bottom: 625px;
}

.text-4 {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 250px;
    bottom: 80px;
}

.picture5 {
    position: relative;
    bottom: 625px;
}

.text-5 {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 250px;
    bottom: 80px;
}

